body{
    background: url(img/backgroud.jpg);
    font-family: "Lobster", serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    backdrop-filter: brightness(85%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.panel {
    background: linear-gradient(30deg,#051c2bab,#686868af);
    box-sizing:border-box;
    border-radius: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    max-width: 32rem;
    margin: auto;
    padding: 2rem 3rem;
    backdrop-filter: blur(0.5rem) brightness(120%);
}

.panel > img {
    margin: auto;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
}

.panel > button {
    margin: auto;
    padding: 0.5rem 2rem;
    border: unset;
    border-radius: 2rem;
    color: white;
    background: linear-gradient(160deg,#ffffffc4,#000000);
    box-shadow: -2px 3px rgba(54, 54, 54, 0.486);
    
}
button:hover{
    cursor: pointer;
    background-color: rgb(0, 25, 248);
    color: black;
    box-shadow: 2px -2px rgba(0, 0, 0, 0.363);s
    
}


.btn {
    padding: 0.5rem 1rem;
    font-family: inherit;
    border: 1px solid rgba(0, 255, 213, 0.479);
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.btn:hover{
    border-radius: 0.5rem;
    border-color: #ffffff;
    color: rgb(2, 0, 0);
    text-shadow:  -2px 0px 1px#5f5f5f81;
    
}

